# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T26X=y
CONFIG_BUILD_EMBEDDED=y
CONFIG_PLATFORM_GUID="df0e10d8-aeac-451d-a2d7-ef1e58dc59d9"
CONFIG_PCIE=y
CONFIG_NVME=y
CONFIG_UFS=y
