# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T23X=y
CONFIG_BUILD_EMBEDDED=y
CONFIG_PLATFORM_GUID="f98bcf32-fd20-4ba9-ada4-e0406947ca3c"
