# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T23X=y
CONFIG_BUILD_SIMPLE=y
CONFIG_PLATFORM_GUID="3c88c11a-8d99-4a18-acbd-4b76e430e20d"
CONFIG_PCIE=y
CONFIG_NVME=y
CONFIG_BOOT_DEFAULT_TIMEOUT=0
CONFIG_FMP_SYSTEM_IMAGE_TYPE_ID="aeb40576-5d97-4d60-a138-93788792bf34"
