# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T23X=y
CONFIG_BUILD_SIMPLE=y
CONFIG_PLATFORM_GUID="ccb0c2f9-27c6-4a98-ac19-fe9429b59e7d"
CONFIG_EMMC=y
CONFIG_BOOT_DEFAULT_TIMEOUT=0
CONFIG_FMP_SYSTEM_IMAGE_TYPE_ID="5cdb9398-9a1f-44a4-986b-bbd034590537"
