# SPDX-FileCopyrightText: Copyright (c) 2023-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T26X=y
CONFIG_SOC_T26X_IS_T268=y
CONFIG_BUILD_SIMPLE=y
CONFIG_PLATFORM_GUID="367a23f8-fb70-43b8-9b6d-59ac4d5fdc3d"
CONFIG_UFS=y
CONFIG_BOOT_DEFAULT_TIMEOUT=0
CONFIG_FMP_SYSTEM_IMAGE_TYPE_ID="78976292-c151-4310-848f-ecbaf94834a7"
