# SPDX-FileCopyrightText: Copyright (c) 2023-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T26X=y
CONFIG_SOC_T26X_IS_T268=y
CONFIG_BUILD_MINIMAL=y
CONFIG_PLATFORM_GUID="97499e71-6305-44fe-bfe0-9a335be4dabd"
CONFIG_PCIE=y
CONFIG_NVME=y
CONFIG_UFS=y
