# SPDX-FileCopyrightText: Copyright (c) 2023-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T26X=y
CONFIG_SOC_T26X_IS_T268=y
CONFIG_BUILD_GENERAL=y
CONFIG_PLATFORM_GUID="d031d72d-9cce-4fd8-9175-dbd65abf2a84"
CONFIG_FMP_SYSTEM_IMAGE_TYPE_ID="9a3c33fc-204f-4888-a008-4dec00eb79a0"
