# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T26X=y
CONFIG_BUILD_GENERAL=y
CONFIG_PLATFORM_GUID="09af6066-2719-4db1-9dc8-424ca8251b19"
# CONFIG_SECURITY_DISABLE_PHYSICAL_PRESENCE_POST_SECUREBOOT is not set
CONFIG_IPMI_BMC=y
CONFIG_REDFISH=y
CONFIG_FMP_SYSTEM_IMAGE_TYPE_ID="cbf069ce-116a-4215-9951-66565d283089"
