# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T26X=y
CONFIG_BUILD_EMBEDDED=y
CONFIG_PCIE=y
CONFIG_NVME=y
CONFIG_SDCARD=y
CONFIG_UFS=y
CONFIG_SATA=y
CONFIG_XHCI=y
CONFIG_EHCI=y
CONFIG_USB_MASS_STORAGE=y
CONFIG_USB_KEYBOARD=y
CONFIG_USB_MOUSE=y
CONFIG_NVIDIA_DISPLAY=y
CONFIG_LOGO=y
CONFIG_ACPI=y
CONFIG_ACPI_THERMAL_ZONE_SINGLE=y
CONFIG_BOOT_ANDROID_FASTBOOT=y
CONFIG_BOOT_NVIDIA_CUSTOM_OPTION_DESCRIPTION=y
CONFIG_SINGLE_BOOT_NONE=y
CONFIG_FIRMWARE_MANAGEMENT=y
CONFIG_FIRMWARE_CAPSULE_SUPPORTED=y
CONFIG_FMP_SYSTEM_IMAGE_TYPE_ID="3c834404-d2d7-4912-8c1c-6e850b5f2824"
CONFIG_NETWORKING_HTTP=y
CONFIG_NETWORKING_PXE=y
CONFIG_NETWORKING_ISCSI=y
CONFIG_NETWORKING_VLAN=y
CONFIG_NETWORKING_IPV4=y
CONFIG_NETWORKING_IPV6=y
CONFIG_NETWORKING_DEVICE_REALTEK=y
CONFIG_NETWORKING_DEVICE_ASIX=y
CONFIG_FS_FAT=y
CONFIG_SHELL=y
CONFIG_SHELL_DEBUG_COMMANDS=y
CONFIG_SHELL_DRIVER_COMMANDS=y
CONFIG_SHELL_NETWORK_COMMANDS=y
CONFIG_NVIDIA_SHELL_APPLICATIONS=y
