# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T26X=y
CONFIG_BUILD_SIMPLE=y
CONFIG_PLATFORM_GUID="2dc55e53-938a-4e65-80c1-7c2f18c0a620"
CONFIG_PCIE=y
CONFIG_NVME=y
CONFIG_BOOT_DEFAULT_TIMEOUT=0
CONFIG_FMP_SYSTEM_IMAGE_TYPE_ID="fc63b2f1-314e-4155-94dc-c47b3b94fda5"
