# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T26X=y
CONFIG_BUILD_SIMPLE=y
CONFIG_PLATFORM_GUID="f6c2d20a-1e0f-417a-938a-542cf882697a"
CONFIG_UFS=y
CONFIG_BOOT_DEFAULT_TIMEOUT=0
CONFIG_FMP_SYSTEM_IMAGE_TYPE_ID="2b7f8709-aa4c-4c6f-9671-9e97513f480c"
