# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T23X=y
CONFIG_BUILD_GENERAL=y
CONFIG_FIRMWARE_MANAGEMENT_FMP_ESRT_GUID="7C374309-1649-4682-8BEE-04F3A8399414"
CONFIG_PLATFORM_GUID="0927650c-5959-4dfb-a40f-0f05a3cefbd6"
# CONFIG_SECURITY_DISABLE_PHYSICAL_PRESENCE_POST_SECUREBOOT is not set
CONFIG_ASPEED_2600_DISPLAY=y
CONFIG_IPMI_BMC=y
CONFIG_REDFISH=y
