# SPDX-FileCopyrightText: Copyright (c) 2023-2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_XAVIER=y
CONFIG_SOC_ORIN=y
CONFIG_EMMC=y
CONFIG_SDCARD=y
CONFIG_ARM_WATCHDOG=n
CONFIG_BOOT_QUICK_BOOT=y
CONFIG_BOOT_QUICK_BOOT_ENABLED=y
CONFIG_BOOT_NATIVE_ANDROID_PARTITION_SUPPORT=y
CONFIG_BOOT_NVIDIA_CUSTOM_OPTION_DESCRIPTION=y
CONFIG_DEVICETREE=y
CONFIG_UFS=y
CONFIG_SATA=y
CONFIG_NETWORKING_DEVICE_NVIDIA=y
CONFIG_NETWORKING_DEVICE_ASIX=y
CONFIG_NETWORKING_DEVICE_REALTEK=y
CONFIG_FS_EXT4=y
CONFIG_NVIDIA_DISPLAY=y
CONFIG_ASPEED_2600_DISPLAY=y
CONFIG_IPMI_BMC=y
CONFIG_REDFISH=y
CONFIG_RCM_BOOT=y
CONFIG_L4T=y
CONFIG_FIRMWARE_MANAGEMENT_DIRECT=y
CONFIG_FIRMWARE_CAPSULE_SIZE=0xc00000
CONFIG_FIRMWARE_MANAGEMENT_FMP_ESRT_GUID="7C374309-1649-4682-8BEE-04F3A8399414"
CONFIG_SERIAL_PORT_CONSOLE_TEGRA=y
CONFIG_REAL_TIME_CLOCK_MAXIM=y
CONFIG_SMBIOS_ARM=y
CONFIG_BOOT_ANDROID_FASTBOOT=y
CONFIG_SECURITY_TPM_FIRMWARE=y
CONFIG_SECURITY_MM_OPTEE=y
CONFIG_VARIABLE_NON_SECURE_SUPPORTED=y
CONFIG_SECURITY_UEFI_MENU_USER_AUTH=y
CONFIG_EHCI=y
CONFIG_SERIAL_PORT_CONSOLE_TEGRA=y
CONFIG_SECURITY_PHYSICAL_PRESENCE=y
CONFIG_RCM_BOOT_L4T_LAUNCHER=y
CONFIG_SECURITY_HW_RNG=y
