# SPDX-FileCopyrightText: Copyright (c) 2023-2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_ORIN=y
CONFIG_SECURITY_TPM_FIRMWARE=y
CONFIG_VARIABLE_EMULATED=y
CONFIG_VARIABLE_NON_SECURE_SUPPORTED=y
# CONFIG_PCIE is not set
CONFIG_EMMC=y
# CONFIG_USB is not set
# CONFIG_ACPI is not set
CONFIG_DEVICETREE=y
CONFIG_SMBIOS_ARM=y
CONFIG_BOOT_QUICK_BOOT=y
CONFIG_BOOT_QUICK_BOOT_ENABLED=y
CONFIG_BOOT_NATIVE_ANDROID_PARTITION_SUPPORT=y
CONFIG_SINGLE_BOOT_L4T_LAUNCHER=y
CONFIG_L4T=y
# CONFIG_LOGO is not set
# CONFIG_FIRMWARE_MANAGEMENT is not set
# CONFIG_ARM_WATCHDOG is not set
# CONFIG_NETWORKING is not set
# CONFIG_FS_FAT is not set
CONFIG_FS_EXT4=y
# CONFIG_SHELL is not set
CONFIG_SECURITY_PHYSICAL_PRESENCE=y
