# @file
#
#  Config file for NVIDIA UEFI builds
#
#  SPDX-FileCopyrightText: Copyright (c) 2023-2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
#  SPDX-License-Identifier: BSD-2-Clause-Patent
#
#

menu "SOC Support"
  config SOC_XAVIER
  bool "Xavier"
  select SOC_JETSON
  help
    Support for Xavier (T194)

  config SOC_ORIN
  bool "Orin"
  select SOC_JETSON
  help
    Support for Orin (T234)

  config SOC_JETSON
  bool

  config SOC_GRACE
  bool "Grace"
  help
    Support for Grace (TH500)
endmenu

menu "Hardware support"
  menuconfig PCIE
  bool "PCIe Support"
  default y
  help
    Overall PCIe support

  if PCIE
    config DESIGNWARE_PCIE
    bool
    default y if SOC_JETSON

    config NVIDIA_PCIE
    bool
    default y if SOC_GRACE

    config NVME
    bool "NVMe support"
    default y
    help
      Support for NVMe drives on the system
  endif

  config SDHCI
  bool

  config NVIDIA_SDHCI
  bool
  default y if (SDHCI && SOC_JETSON)

  config EMMC
  bool "eMMC support"
  select SDHCI
  help
    eMMC support

  config SDCARD
  bool "SD Card support"
  select SDHCI
  help
    SD card support

  config UFS
  bool "UFS Support"
  help
    Support for UFS devices

  config SATA
  bool "SATA Support"
  help
    Support for SATA devices

  config SCSI
  bool
  default y #if (SATA || UFS || ISCSI)

  config SOC_USB
  bool
  default y if SOC_JETSON
  help
    Support for internal SoC USB controller

  menuconfig USB
  bool "USB Support"
  default y
  help
    Support for USB devices

  if USB
    config XHCI
    default y
    bool "XHCI controller support"

    config EHCI
    bool "EHCI controller support"

    config UHCI
    bool "UHCI controller support"

    menu "USB Devices"
      config USB_MASS_STORAGE
      bool "USB Mass Storage support"
      default y

      config USB_KEYBOARD
      bool "USB Keyboard support"
      default y

      config USB_MOUSE
      bool "USB Mouse support"
      default y
    endmenu
  endif
endmenu

menu "OS Hardware description"
  config CONFIG_MANAGER
  bool

  config ACPI
  bool "ACPI support"
  default y
  select CONFIG_MANAGER
  help
    Platform supports ACPI

  config DEVICETREE
  bool "Device tree support"
  help
    Platform supports Devicetree

  config SMBIOS
  bool "SMBIOS support"
  default y
  select CONFIG_MANAGER
  help
    Platform supports SMBIOS
endmenu

menu "Boot Options"
  config BOOT_QUICK_BOOT
  bool "Quick boot support"
  default n
  help
    UEFI quick boot supported

  config BOOT_DEFAULT_TIMEOUT
  int "Boot timeout"
  depends on SINGLE_BOOT_NONE
  default 5
  help
    UEFI boot timeout

  config BOOT_NATIVE_ANDROID_PARTITION_SUPPORT
  bool "Android partition support"
  default n
  help
    Support for native android boot partition, without EFI system partition

  config BOOT_NVIDIA_CUSTOM_OPTION_DESCRIPTION
  bool "NVIDIA Custom boot order description"
  default n
  help
    Support for nvidia specific overrides for boot options

  choice SINGLE_BOOT_SUPPORT
    prompt "Single boot built-in boot application support"

    config SINGLE_BOOT_NONE
    bool "Not supported"
    help
      Normal boot operation

    config SINGLE_BOOT_DEADLOOP_APP
    bool "Deadloop application"
    select BOOT_UI_MENU_DISABLED
    help
       Launch application that deadloops

    config SINGLE_BOOT_L4T_LAUNCHER
    bool "L4T Launcher"
    select BOOT_UI_MENU_DISABLED
    help
      L4T Launcher default

  endchoice

  config BOOT_UI_MENU_DISABLED
  depends on SINGLE_BOOT_DEADLOOP_APP || SINGLE_BOOT_L4T_LAUNCHER
  bool "UI Menu Application disabled"

  choice SOC_DISPLAY_HANDOFF_MODE
    prompt "SOC Display Hand-Off Mode"
    help
      How to hand-off the SOC display.

    default SOC_DISPLAY_HANDOFF_MODE_NEVER

    config SOC_DISPLAY_HANDOFF_MODE_NEVER
    bool "Never"
    help
      Always reset the display on UEFI exit.

    config SOC_DISPLAY_HANDOFF_MODE_ALWAYS
    bool "Always"
    help
      Never reset the display on UEFI exit.

    config SOC_DISPLAY_HANDOFF_MODE_AUTO
    bool "Auto"
    help
      Reset the display on UEFI exit unless it is active (requires
      kernel support).
  endchoice

endmenu

menu "Debug Options"
  config HALT_ON_ASSERT
  bool "Halt on assert"
  help
    Should system halt or reboot on ASSERT

  menuconfig MEMORY_TEST
  bool "Memory Test support"
  help
    Memory test support enabled

  if MEMORY_TEST
    choice MEMORY_TEST_LEVEL
    prompt "Memory Test Level"
      config MEMORY_TEST_LEVEL_IGNORE
      bool "Ignore memory test"

      config MEMORY_TEST_LEVEL_QUICK
      bool "Quick"

      config MEMORY_TEST_LEVEL_SPARSE
      bool "Sparse"

      config MEMORY_TEST_LEVEL_EXTENSIVE
      bool "Extensive"
    endchoice

    config MEMORY_TEST_NEXT_BOOT
    bool "Enable memory test on next boot"
    help
      Should the memory tests run on the next boot

    config MEMORY_TEST_SINGLE_BOOT
    bool "Single boot memory test"
    help
      Should memory tests be disabled after next run

    config MEMORY_TEST_ITERATIONS
    int "Number of memory test iterations"
    default 1
    help
      How many times should each memory test be run

    config MEMORY_TEST_WALKING_1_BIT
    bool "Walking 1 bit test"

    config MEMORY_TEST_ADDRESS_CHECK
    bool "Address check test"

    config MEMORY_TEST_MOVING_INVERSIONS_01
    bool "Moving inversions 0/1 test"

    config MEMORY_TEST_MOVING_INVERSIONS_8BIT
    bool "Moving inversion 8-bit test"

    config MEMORY_TEST_MOVING_INVERSIONS_RANDOM
    bool "Moving inversions random test"

    config MEMORY_TEST_BLOCK_MOVE
    bool "Block move test"

    config MEMORY_TEST_MOVING_INVERSIONS_64BIT
    bool "Moving inversion 64-bit test"

    config MEMORY_TEST_RANDOM_SEQUENCE
    bool "Random sequence test"

    config MEMORY_TEST_MODULO_20
    bool "Modulo 20 test"

    config MEMORY_TEST_BIT_FADE
    bool "Bit fade test"

    if MEMORY_TEST_BIT_FADE
      config MEMORY_TEST_BIT_FADE_PATTERN
      hex "Bit Fade pattern"
      default 0xAA55AA55AA55AA55

      config MEMORY_TEST_BIT_FADE_WAIT
      int "Bit fade wait time (ms)"
      default 0
      help
        Time in ms to wait for bit fade test in ms
    endif
  endif
endmenu

menu  "Watchdog settings"

  config  BOOT_WATCHDOG_TIMEOUT
  int  "Boot watchdog timeout"
  default  5
  help
    Time in minutes to reboot system before boot options are processed

  config  ARM_WATCHDOG
    bool "Use ARM watchdog instead of timer"
    default  y
    help
      Use the ARM generic watchdog timer driver
endmenu
