# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T24X=y
CONFIG_BUILD_DATACENTER=y
CONFIG_FIRMWARE_MANAGEMENT_FMP_ESRT_GUID="92597B71-0ABE-48F3-9F06-93D3E8CD7EDF"
