# SPDX-FileCopyrightText: Copyright (c) 2023-2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_GRACE=y
CONFIG_SATA=y
CONFIG_NETWORKING_DEVICE_REALTEK=y
CONFIG_NETWORKING_DEVICE_ASIX=y
CONFIG_NETWORKING_DEVICE_INTEL=y
CONFIG_NETWORKING_DEVICE_USB_RNDIS=y
CONFIG_ASPEED_2600_DISPLAY=y
CONFIG_IPMI_BMC=y
CONFIG_REDFISH=y