# SPDX-FileCopyrightText: Copyright (c) 2023-2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_SOC_T24X=y
CONFIG_BUILD_DATACENTER=y
CONFIG_PLATFORM_GUID="9aef2e52-dead-4f63-b895-3a504a3e63c4"
CONFIG_FMP_SYSTEM_IMAGE_TYPE_ID="8655e5cf-297b-4213-84d5-b6817203a432"
