# SPDX-FileCopyrightText: Copyright (c) 2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
CONFIG_ARM_WATCHDOG=n
CONFIG_BOOT_QUICK_BOOT=y
CONFIG_BOOT_NATIVE_ANDROID_PARTITION_SUPPORT=y
CONFIG_BOOT_NVIDIA_CUSTOM_OPTION_DESCRIPTION=y